@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');

/* Remove default settings credit to my mentor Juliia*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Design System */
:root {
  --font-family: 'Nova Cut', cursive;
  --primary-font: 'Nova Cut', cursive;
  --main-color: #cdcdcd;
  --background-color: #001638;
  --primary-color: #214E34;
  --secondary-color: #364156;
  --accent-color: #DFF8EB;
  --text-color-primary: #cdcdcd;
  --line-height: 1.5;
}

/* Global style settings */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  background-image: url("../images/dark_forest_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--text-color-primary);
}

/* Canvas graphics setup taken from Firefly from https: //github.com/owentr1369/animated-background-fireflies-youtube and modified slightly */

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  background-image: url("../images/dark_forest_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Header Styling */

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Main Styling for index.html */

.body-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-image {
  max-width: 100%;
  height: 20vh;
  transform: scale(0.7);
}

.body-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 50%;
  margin-top: 20px;
}

/* Fade effect classes and styling for elements*/

#fade {
  opacity: 0;
  animation: fade-in-out 15s linear 0s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 30px;
  text-align: center;
  white-space: normal;
}

.entry-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 20px;
  margin-top: -60px;
  color: var(--text-color-primary);
  font-size: 3em;
  text-decoration: none;
  opacity: 0;
  animation: fade-in 5s linear 0s forwards;
}

#entry-link {
  z-index: 1;
}

.hidden {
  display: none;
}

/* Keyframes for fade effects */
/* Idea / code taken from: this page: https: //www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/, https://dev.to/tiaeastwood/super-simple-css-animation-for-fade-in-on-page-load-2p8m, https://youtu.be/-lGpL6_7H3M */

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Media Queries */

@media (max-width: 600px) {
  #fade {
    font-size: calc(60% + 0.8vmin);
  }
}

@media (max-width: 600px) {
  .entry-link {
    margin-top: -120px;
  }
}