@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');

/* Remove default settings credit to my mentor Juliia*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global style settings */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}