@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');

/* Remove default settings credit to my mentor Juliia*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Design System */
:root {
  --font-family: 'Nova Cut', cursive;
  --primary-font: 'Nova Cut', cursive;
  --main-color: #cdcdcd;
  --background-color: #001638;
  --primary-color: #214E34;
  --secondary-color: #364156;
  --accent-color: #DFF8EB;
  --text-color-primary: #cdcdcd;
  --line-height: 1.5;
}

/* Global style settings */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  background-image: url("../images/dark_forest_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--text-color-primary);
}

/* Canvas graphics setup taken from Firefly from https: //github.com/owentr1369/animated-background-fireflies-youtube and modified slightly */

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  z-index: -1;
}

/* Header Styling */

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}

.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em
}

.sub-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding-bottom: 2%;
}

.score-text {
  font-size: 0.7em;
  text-align: center;
  transform: translateX(-185%);
  padding-right: 10%;
}

.timer-display {
  font-size: 0.7em;
  text-align: center;
  transform: translateX(185%);
}


/* Main Styling for index.html */

.body-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.body-image {
  max-width: 100%;
  height: 30vh;
  transform: scale(1.0);
}

.body-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 50%;
  margin-top: 20px;
}

/* Fade effect classes and styling for elements*/

#fade {
  opacity: 0;
  animation: fade-in-out 10s linear 0s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 10px 20px;
  margin-top: 5%;
  text-align: center;
  white-space: normal;
  flex-grow: 1;
}

.entry-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 10px 20px;
  margin-top: -12.5%;
  color: var(--text-color-primary);
  font-size: 3em;
  text-decoration: none;
  opacity: 0;
  animation: fade-in 5s linear 0s forwards, glowing 2s infinite;
  flex-grow: 1;
}

#entry-link {
  z-index: 1;
}

.hidden {
  display: none;
}

/* Game Page Styling */

/* Grid container */
.grid-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 2%;
}

/* Grid rows */
.grid-game-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Card Styling/Positioning and Flip Effects*/

.card {
  position: relative;
  width: 157px;
  height: 219px;
  border: none;
  perspective: 1000px;
  /* Add perspective for 3D effect */
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform: rotateY(0deg);
  /* Set initial rotation */
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
  /* Apply rotation when flipped */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.card-front {
  transform: rotateY(0deg);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*Instructions and Game Controls*/

.instructions-controls {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  margin-left: 10px;
}

.instructions-controls i {
  font-size: 100%;
  text-align: center;
  color: var(--main-color);
}

.instructions-controls li {
  margin: 0 95px;
}

.modal-container {
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* CSS for the pop-up content */
.popup-content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0.33, 0.78, 0.52, 0.8);
  padding: 20px;
}

.popup-content h4,
h5 {
  font-size: inherit;
}

#openPopup {
  background-color: transparent;
  font-size: inherit;
  font: inherit;
  color: inherit;
  border: none;
}

#closePopup {
  background-color: transparent;
  font: inherit;
  color: inherit;
  border: none;
}

.fa-pause {
  display: inline-block;
  /* Initially display the pause icon */
}

.fa-play {
  display: none;
  /* Initially hide the play icon */
}

.instructions-controls i:hover {
  color: var(--accent-color);
}

/* Footer styling*/

.social-networks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3% 0;
  height: 80%;
}

/* Spacing between list items */
.social-networks li {
  margin: 0 10px;
}

/* Social media positioning and styling */
.social-networks i {
  font-size: 200%;
  color: var(--main-color);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.social-networks i:hover {
  color: var(--accent-color);
}

/* Keyframes for fade effects */
/* Idea / code taken from: this page: https: //www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/, https://dev.to/tiaeastwood/super-simple-css-animation-for-fade-in-on-page-load-2p8m, https://youtu.be/-lGpL6_7H3M */

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px #fff;
  }

  50% {
    text-shadow: 0 0 20px var(--accent-color);
  }

  100% {
    text-shadow: 0 0 5px #fff;
  }
}

/* Media Queries */

@media (max-width: 600px) {
  #fade {
    font-size: calc(60% + 0.8vmin);
  }
}

@media (max-width: 600px) {
  .entry-link {
    margin-top: -120px;
  }
}