@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');

/* Remove default settings credit to my mentor Juliia*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Design System */
:root {
  --font-family: 'Nova Cut', cursive;
  --primary-font: 'Nova Cut', cursive;
  --main-color: #cdcdcd;
  --background-color: #001638;
  --primary-color: #214E34;
  --secondary-color: #364156;
  --accent-color: #DFF8EB;
  --text-color-primary: #cdcdcd;
  --line-height: 1.5;
}

/* Global style settings */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url("../images/dark_forest_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--text-color-primary);
  overflow: hidden;
}

/* Header Styling */

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Main Styling for index.html */

.body-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-image {
  max-width: 100%;
  height: 20vh;
  transform: scale(0.7);
}

.body-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  margin-top: 20px;
}