@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');

/* Remove default settings credit to my mentor Juliia*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Design System */
:root {
  --font-family: 'Nova Cut', cursive;
  --primary-font: 'Nova Cut', cursive;
  --main-color: #cdcdcd;
  --background-color: #001638;
  --primary-color: #214E34;
  --secondary-color: #364156;
  --accent-color: #DFF8EB;
  --text-color-primary: #cdcdcd;
  --line-height: 1.5;
}

/* Global style settings */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

body {
  margin: 0;
  background-image: url("../images/dark_forest_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--text-color-primary);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Canvas graphics setup taken from Firefly from https: //github.com/owentr1369/animated-background-fireflies-youtube and modified slightly */

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  z-index: -1;
}

/* Heading Styling */

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}

.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.sub-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
  padding-bottom: 2%;
}

.score-text {
  text-align: center;
  font-size: 0.5em;
  margin-right: 65%;
}

.instructions {
  text-align: center;
  font-size: 0.5em;
}

.timer-display {
  text-align: center;
  font-size: 0.5em;
  margin-left: 65%;
}

/* Main Styling for index.html */

.body-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.body-image {
  max-width: 100%;
  height: 30vh;
  transform: scale(1.0);
}

.body-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 50%;
  margin-top: 20px;
}

/* Fade effect classes and styling for elements*/

#fade {
  opacity: 0;
  animation: fade-in-out 5s linear 0s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 10px 20px;
  margin-top: 5%;
  text-align: center;
  white-space: normal;
  flex-grow: 1;
}

.entry-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 10px 20px;
  margin-top: -12.5%;
  color: var(--text-color-primary);
  font-size: 3em;
  text-decoration: none;
  opacity: 0;
  animation: fade-in 2s linear 0s forwards, glowing 2s infinite;
  flex-grow: 1;
}

#entry-link {
  z-index: 1;
}

.hidden {
  display: none;
}

/* Game Page Styling */

/* Grid container */
.grid-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-bottom: 2%;
}

/* Grid rows */
.grid-game-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
}

.overlay h4 {
  color: inherit;
  font-size: 24px;
  text-align: center;
}

/* Card Styling/Positioning and Flip Effects*/
/*See Readme for resources*/

.card {
  position: relative;
  width: 157px;
  height: 219px;
  border: none;
  perspective: 1000px;
  /* Add perspective for 3D effect */
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform: rotateY(0deg);
  /* Set initial rotation */
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
  /* Apply rotation when flipped */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.card-front {
  transform: rotateY(0deg);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*Instructions and Game Controls*/

.instructions-controls {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.instructions-controls i {
  font-size: 100%;
  text-align: center;
  color: var(--main-color);
  font-size: 1.2em;
}

.instructions-controls li {
  margin: 0 95px;
  width: 100%;
  height: auto;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.modal-container {
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* CSS for the pop-up content */

.popup-content,
.popup-content2,
.popup-content3 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0.33, 0.78, 0.52, 0.8);
  padding: 20px;
  font-size: 1em;
}

.modal-container2,
.modal-container3 {
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#openPopup,
#openPopup2,
#openPopup3 {
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  border: none;
}

#openPopup i {
  animation: glowing 2s 5;
}

#closePopup,
#closePopup2,
#restartgameButton,
#endgameButton {
  background-color: transparent;
  font: inherit;
  color: inherit;
  font-size: 1.3em;
  animation: glowing 2s infinite;
  padding-bottom: 2%;
  /* Apply the glowing animation to the element */
}

#restartgameButton {
  padding-right: 5%;
}

#endgameButton {
  padding-left: 5%;
}

h5,
h6 {
  font-size: 1.2em;
}

.popup-title2,
.popup-title3 {
  font-size: 1.5em;
  margin-bottom: 10%;
}

/* Instructions-Controls Icons*/

.fa-pause {
  display: inline-block;
  /* Initially display the pause icon */
}

.fa-play {
  display: none;
  /* Initially hide the play icon */
}

#playText {
  display: none;
  text-align: center;
}

#playText {
  display: none;
  text-align: center;
}

.instructions-controls i:hover {
  color: var(--accent-color);
}

/* Footer styling*/

.social-networks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3% 0;
  height: 80%;
}

/* Spacing between list items */
.social-networks li {
  margin: 0 10px;
}

/* Social media positioning and styling */
.social-networks i {
  font-size: 200%;
  color: var(--main-color);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.social-networks i:hover {
  color: var(--accent-color);
}

/* Keyframes for fade effects */
/* See Readme for resources */
/* Idea code taken from: this page: https: //www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/, https://dev.to/tiaeastwood/super-simple-css-animation-for-fade-in-on-page-load-2p8m, https://youtu.be/-lGpL6_7H3M */
/* Animation resources:  [(https://animate.style/) and [here](https://freefrontend.com/css-glow-effects/)

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px #fff;
  }

  50% {
    text-shadow: 0 0 20px var(--accent-color);
  }

  100% {
    text-shadow: 0 0 5px #fff;
  }
}

/* Media Queries */

@media (max-width: 600px) {
  #fade {
    font-size: calc(60% + 0.8vmin);
  }

  .entry-link {
    margin-top: -120px;
    font-size: 1.5em;
  }

  .main-heading {
    font-size: 1.5em;
  }

  .score-text,
  .instructions,
  .timer-display {
    font-size: 1em;
    margin: 10px;
  }

  .body-image-container {
    margin-top: 10%;
  }

  .body-text-container {
    width: 80%;
  }

  .grid-game-row {
    flex-wrap: wrap;
  }

  .card {
    width: 120px;
    height: 168px;
  }

  .instructions-controls li {
    margin: 10px;
    height: auto;
    font-size: 0.7em;
  }

  .sub-heading {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    font-size: 0.7em;
  }

  .popup-content {
    width: 80%;
    max-width: 300px;
  }
}

/* Tablet devices */
@media (min-width: 601px) and (max-width: 1024px) {
  .main-heading {
    font-size: 2em;
  }

  .body-image {
    height: 20vh;
  }

  .entry-link {
    font-size: 2.5em;
    margin-top: -80px;
  }

  .grid-game-row {
    gap: 10px;
  }

  .card {
    width: 140px;
    height: 196px;
  }

  .instructions-controls li {
    margin: 0 30px;
    width: 50%;
    height: 50%;
  }

  .sub-heading {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    font-size: 0.8em;
  }

  .score-text,
  .instructions,
  .timer-display {
    font-size: 0.8em;
    margin: 20px;
  }
}

/* Desktop devices */
@media (min-width: 1025px) {
  .main-heading {
    font-size: 2.5em;
  }

  .body-image {
    height: 30vh;
  }

  .entry-link {
    font-size: 3em;
    margin-top: -50px;
  }
}